
<div class="container-fluid m-2">

  <div class="row" style="border-bottom: 1px solid darkgrey">
    <div class="col-sm-12 text-left">
      <img alt="Logo" src="../assets/images/logo.png" width="400">
    </div>


  </div>

  <div class="row m-t-1">
    <div class="col-sm-12 text-left">
      <h3>
        {{ title }}
      </h3>
    </div>
  </div>

  <div class="row m-t-4 justify-content-center">
    <div class="col-10 mx-auto" style="border: 1px solid darkgrey">

      <div class="row justify-content-center">
        <div class="col-12 mx-auto">
          <form  class="m-t-1" [formGroup]="partNumberForm">

            <div class="row text-center">
              <div class="col-12 mx-auto">
                <h3 class="m-t-1">Select A Customer</h3>
              </div>
            </div>

            <div class="row text-center m-t-2">
              <div class="col-8 mx-auto">
                <div class="form-group">
                  <select class="form-control" formControlName="customerId" id="customerId" required>
                    <option value="">--Select Customer--</option>
                    <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="row text-center m-t-2 m-b-2">
              <div class="col-6 mx-auto">
                <button class="btn btn-primary" [disabled]="!partNumberForm.valid" (click)="onSubmit('generate')">Generate Part Number</button>
              </div>
              <div class="col-6 mx-auto">
                <button class="btn btn-primary" [disabled]="!partNumberForm.valid" (click)="onSubmit('getPartNumbers')">View Part Numbers</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>

  <div class="row m-t-1" *ngIf="newPartNumber">
    <div class="col-sm-8 offset-2">

      <div class="text-center">
        <h3>Customer: {{customerName}}</h3>
        <h3>New Part Number (EAN-13): <span style="color: darkblue;">{{newPartNumber?.ean13Number}}</span></h3>
      </div>

    </div>
  </div>

  <div class="row m-t-1" *ngIf="partNumbers">
    <div class="col-sm-8 offset-2">

      <div class="text-center">
        <h3>Customer: {{customerName}}</h3>
        <h4 style="color: darkblue;">Part Numbers:</h4>
        <div class="col-12 m-t-2">
          <div class="row">

            <div class="col-3">ID</div>
            <div class="col-3">Part Number</div>
            <div class="col-3">Revision</div>
            <div class="col-3">EAN-13 Number</div>

          </div>

          <div class="row" *ngFor="let partNumber of partNumbers">
            <div class="col-3">{{ partNumber.id }}</div>
            <div class="col-3">{{ partNumber.number }}</div>
            <div class="col-3">{{ partNumber.revision }}</div>
            <div class="col-3">{{ partNumber.ean13Number }}</div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
